MONGODB_URL_CONNECT=

PORT=1102
SECRET_OR_PUBLIC_KEY=HUYDZVCL

NODEMAILER_MAIL_USERNAME=
NODEMAILER_MAIL_PASSWORD=
NODEMAILER_MAIL_SERVICE=

REDIS_HOST =
REDIS_PORT =

COOKIE_SECRET_KEY=HUYDZVCL
SECURE_SESSION_SECRET_KEY=averylogphrasebiggerthanthirtytwochars
SECURE_SESSION_SALT=mq9hDxBVDbspDR6n

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PUBLIC_BUCKET_NAME=

